body {
    background-color: black;
}

.gameboard {
    height: 294px;
    width: 294px;
    background-color: lightgrey;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 3px;
}

.tile {
    height: 90px;
    width: 90px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
}

.tileTemplate {
    display: none;
    height: 90px;
    width: 90px;
    background-color: lightgoldenrodyellow;
    border-radius: 10px;
}